* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{ 
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}


.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

img[alt="logo"]{
  width: 20%;
  height: 100%;
}

body{
  padding:30px;

}

.header__nav{
  display: flex;
  gap: 20px;
}

.main{
  margin-bottom: 30px;
}

.post{
  border: 2px solid rgb(23, 204, 92);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.postList{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.post__footer{
  display: flex;
  justify-content: space-between;
}

.post__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_time{
  margin-left: auto;
}

.post__buttons{
  display: flex;
  align-items: center;
  gap: 10px;
}

.post__button {
  background-color: rgba(25,25,25,0);
  border: none;
  cursor: pointer;
}

.post__button img{
  width: 15px;
  height: 15px;
}

.auth__form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 20vh;
}

.auth__input-block{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.auth__input-block input{
  height: 20px;
  padding-left: 5px;
}

.auth__subform-block{
  display: flex;
  gap: 30px;
  align-items: center;
}

.auth__subform-block button{
  padding: 5px 30px;
  font-size: 15px;
}

.addpost__form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 200px;
  gap: 10px;
}

.addpost__form label{
  margin-top: 5px;
}

.addpost__form input {
  padding: 5px 5px;
}

.addpost__form textarea {
  padding: 5px 5px;
  resize: none;
  height: 100px;
}

.addpost__form button{
  padding: 5px 30px;
  margin: 0 auto;
  max-width: fit-content;
  font-size: 15px;
}
